.wizards{
    height: 100vh;
    padding-top: 10px;
    background-color: var(--appbackgroundcolor);
}

/* .wizard0 {

}

.wizard1{

}

.wizard2 {

}

.wizard3 {

}

.wizard4 {

}

.wizard5 {

}

.wizard6 {

}

.wizard7 {

 } */

 .wizard8 {
    padding-top: 10px;
    background-color: var(--appbackgroundcolor);
}
